$color-primary: rgb(31, 31, 119);
$color-secondary: rgb(49, 56, 70);
$color-terciary: rgb(31, 79, 119);
$color-4: rgb(48, 61, 87);

$color-violet-dark: rgb(94, 32, 151);
$color-violet-light: rgb(148, 80, 212);
$color-green: rgb(33, 226, 168);
$color-yellow: rgb(228, 215, 97);

$color-icon-svg-primary: rgb(190, 186, 148);
$color-icon-svg-secondary: rgb(214, 205, 123);

$color-btn: rgb(115, 115, 184);

$font-family-primary: 'Chelsea Market', cursive;
$font-family-secondary: 'Josefin Sans', sans-serif;

//MEDIA QUERIES
$media-screen-1300: 1300px;
$media-screen-1200: 1200px;
$media-screen-1140: 1140px;
$media-screen-1080: 1080px;
$media-screen-900: 900px;
$media-screen-840: 840px;
$media-screen-660: 660px;
$media-screen-630: 630px;
$media-screen-500: 500px;
$media-screen-430: 430px;
$media-screen-415: 415px;

.u-font-size-18{
    font-size: 0.937em;  //16px
}

@keyframes btnColor {
    0% {
        border-top: 3px solid #fff;
    }

    40% {
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }

    70% {
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
    }

    100%{
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
    }
}