@charset "UTF-8";

.u-font-size-18 {
  font-size: 0.937em;
}

@-webkit-keyframes btnColor {
  0% {
    border-top: 3px solid #fff;
  }

  40% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }

  70% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
  }

  100% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}

@keyframes btnColor {
  0% {
    border-top: 3px solid #fff;
  }

  40% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }

  70% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
  }

  100% {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.85), rgba(102, 126, 184, 0.85)), url(/images/cover.jpg?715bb18a4917ad2d3e8b9bd678f31d10);
  background-size: cover;
  background-position: top;
  z-index: -10;
}

::-moz-selection {
  background-color: #9450d4;
  color: white;
}

::selection {
  background-color: #9450d4;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1/-1;
  justify-content: center;
  color: white;
  padding: 2rem;
  background-color: #1f1f77;
}

@media only screen and (max-width: 660px) {
  .header {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 1rem;
  }
}

.header__title {
  font-family: "Chelsea Market", cursive;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  font-style: italic;
}

@media only screen and (max-width: 660px) {
  .header__title {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 500px) {
  .header__title {
    font-size: 1.5em;
  }
}

.nav {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 1fr) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, 1fr);
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, max-content) minmax(min-content, 1fr);
  grid-column-gap: 1.4rem;
  grid-row-gap: 1rem;
  width: 100%;
  background-color: #313846;
  font-size: 1.375em;
  color: white;
  padding: 1rem;
}

@media only screen and (max-width: 660px) {
  .nav {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    font-size: 1em;
  }
}

.nav__actions {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-column-gap: 1rem;
  grid-column: 2/3;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-family: "Chelsea Market", cursive;
  font-weight: 300;
  transition: all 0.2s;
}

.nav__link-icon {
  width: 2.8rem;
  border: 2px solid #beba94;
  padding: 0 5px;
  padding-top: 3px;
  justify-self: center;
  background-color: #313846;
  cursor: pointer;
}

.nav__link-icon:hover,
.nav__link-icon:active {
  border: 2px solid #d6cd7b;
}

.nav__link:hover {
  color: #9450d4;
  transition: all 0.2s;
}

.nav__input {
  font-size: 1em;
  border: 3px solid #9450d4;
  transition: all 0.3s;
  width: 100%;
  border-radius: 3px;
}

@media only screen and (max-width: 660px) {
  .nav__input {
    font-size: 0.9em;
  }
}

.nav__input:focus {
  border: none;
  border-bottom: 5px solid #9450d4;
  transition: all 0.3s;
}

.nav__search {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-column-gap: 0.5rem;
  grid-row: 2/3;
  grid-column: 2/3;
}

.nav__enter {
  height: 2rem;
  width: 2rem;
  fill: #beba94;
}

.nav__enter:hover,
.nav__enter:active {
  fill: #d6cd7b;
}

.content {
  display: grid;
  grid-template-columns: 1fr minmax(-webkit-min-content, 1fr) 1fr;
  grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
  width: 100%;
}

.content-1 {
  grid-column: 2/3;
}

.error {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  background-color: #d15b37;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.error__list {
  list-style: none;
}

.error__prefix {
  text-transform: uppercase;
  font-family: "Chelsea Market", cursive;
  font-style: italic;
  font-size: 0.8em;
}

.error__code {
  font-family: inherit;
  justify-self: center;
  text-transform: uppercase;
}

.error__message {
  font-family: inherit;
  justify-self: center;
}

.results {
  background-color: #303d57;
  opacity: 0.8;
  display: grid;
  grid-template-rows: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-row-gap: 1.2rem;
  padding-bottom: 5px;
  justify-items: center;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #494949;
}

.results:first-child {
  justify-content: center;
}

.results__image {
  border-radius: 5px;
}

.results__layout {
  display: grid;
  grid-template-columns: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
  padding: 2rem;
  color: #d6cd7b;
  font-family: "Chelsea Market", cursive;
}

@media only screen and (max-width: 1200px) {
  .results__layout {
    grid-template-columns: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(4, minmax(min-content, max-content));
  }
}

@media only screen and (max-width: 900px) {
  .results__layout {
    grid-template-columns: repeat(3, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(3, minmax(min-content, max-content));
  }
}

@media only screen and (max-width: 660px) {
  .results__layout {
    grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

@media only screen and (max-width: 500px) {
  .results__layout {
    grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
    grid-template-columns: minmax(min-content, max-content);
  }
}

.paragraph__title {
  font-size: 1.2em;
  color: yellow;
}

.home__layout {
  display: grid;
  grid-template-columns: minmax(10px, 250px) 1fr minmax(10px, 250px);
  justify-items: center;
}

@media only screen and (max-width: 1200px) {
  .home__layout {
    grid-template-columns: minmax(10px, 150px) 1fr minmax(10px, 150px);
  }
}

@media only screen and (max-width: 1080px) {
  .home__layout {
    grid-template-columns: minmax(10px, 100px) 1fr minmax(10px, 100px);
  }
}

@media only screen and (max-width: 840px) {
  .home__layout {
    grid-template-columns: minmax(10px, 50px) 1fr minmax(10px, 50px);
  }
}

@media only screen and (max-width: 630px) {
  .home__layout {
    grid-template-columns: minmax(5px, 10px) 1fr minmax(5px, 10px);
  }
}

@media only screen and (max-width: 430px) {
  .home__layout {
    grid-template-columns: 1px 1fr 1px;
  }
}

.home__container {
  grid-column: 2/3;
  font-family: "Chelsea Market", cursive;
  padding: 1rem;
  display: grid;
  grid-row-gap: 1rem;
  color: yellow;
}

.home__container-h1 {
  font-size: 2em;
}

@media only screen and (max-width: 630px) {
  .home__container-h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 500px) {
  .home__container-h1 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 415px) {
  .home__container-h1 {
    font-size: 1.4em;
  }
}

.home__container-paragraph {
  font-size: 1.2em;
  color: #d6cd7b;
}

@media only screen and (max-width: 630px) {
  .home__container-paragraph {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 500px) {
  .home__container-paragraph {
    font-size: 1em;
  }
}

.carrusel {
  width: 100%;
  height: 50vh;
  box-shadow: 10px 10px 10px black;
  background-color: #21218f;
}

@media only screen and (max-width: 840px) {
  .carrusel {
    height: 45vh;
  }
}

@media only screen and (max-width: 630px) {
  .carrusel {
    height: 40vh;
  }
}

@media only screen and (max-width: 500px) {
  .carrusel {
    height: 30vh;
  }
}

.carrusel__img {
  width: inherit;
  height: inherit;
}

.carrusel__info {
  background-color: #232d41;
  width: 100%;
  opacity: 0.7;
  transform: translateY(-40px);
  font-size: 1.4em;
  padding: 5px;
}

@media only screen and (max-width: 630px) {
  .carrusel__info {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .carrusel__info {
    font-size: 1em;
  }
}

.carrusel__link,
.link {
  color: orange;
  transition: all 0.2s;
}

.carrusel__link:hover,
.link:hover {
  color: orangered;
  transition: all 0.2s;
}

.btn {
  cursor: pointer;
  padding: 0.3rem;
  font-family: "Chelsea Market", cursive;
  font-size: 1em;
  transition: all 0.3s;
  background-color: #7373b8;
  color: #fff;
}

.btn:hover,
.btn:active {
  border: 3px solid #444343;
  transition: all 0.3s;
  -webkit-animation: btnColor 4s;
          animation: btnColor 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.connection {
  background: red;
  font-weight: bold;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  padding: 1rem;
  font-size: 1.2em;
}

.footer {
  display: grid;
  grid-template-columns: 1/-1;
  justify-items: center;
  align-items: center;
  color: grey;
  padding: 2rem;
  background-color: #1f1f77;
  font-family: "Chelsea Market", cursive;
  grid-row-gap: 1rem;
  font-weight: 400;
  font-size: 1em;
}

@media only screen and (max-width: 630px) {
  .footer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    font-size: 0.8em;
  }
}

.tooltip {
  font-size: 0.5‬em !important;
  display: none;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Chelsea Market", cursive;
}

.tooltip[data-show] {
  display: block;
}

.tooltip-red {
  font-size: 1em !important;
  color: red;
  background-color: black;
}

.movie {
  opacity: 0.9;
  color: #c0eef0;
  display: grid;
  grid-template-rows: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  font-family: "Chelsea Market", cursive;
  padding: 3rem;
  width: 90%;
  margin: 1rem 5rem 1rem 5rem;
  background-color: blueviolet;
}

@media only screen and (max-width: 1300px) {
  .movie {
    width: 95%;
    margin: 1rem 2rem 1rem 2rem;
  }
}

@media only screen and (max-width: 1140px) {
  .movie {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1080px) {
  .movie {
    width: 97%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 840px) {
  .movie {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 430px) {
  .movie {
    padding: 0.2rem;
  }
}

.movie__header {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(1, minmax(60px, -webkit-min-content));
  grid-template-rows: repeat(1, minmax(60px, min-content));
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 300px));
  grid-template-columns: repeat(4, minmax(min-content, 300px));
  grid-template-areas: none;
}

@media only screen and (max-width: 660px) {
  .movie__header {
    grid-template-rows: repeat(2, 35px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title" "duration year rating";
    grid-row-gap: 1rem;
    justify-items: center;
  }
}

.movie__header-title {
  grid-column: repeat(auto-fit, 500px);
  color: yellow;
}

@media only screen and (max-width: 660px) {
  .movie__header-title {
    grid-area: title;
  }
}

.movie__header-text {
  font-size: 1.3em;
}

@media only screen and (max-width: 660px) {
  .movie__header-text {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 660px) {
  .movie__header-duration {
    grid-area: duration;
  }

  .movie__header-year {
    grid-area: year;
  }

  .movie__header-rating {
    grid-area: rating;
  }
}

@media only screen and (max-width: 660px) {
  .movie__synopses {
    font-size: 1em;
  }
}

@media only screen and (max-width: 430px) {
  .movie__synopses {
    padding: 1rem;
  }
}

.movie__images {
  width: 90%;
  display: grid;
  grid-template-rows: minmax(100px, -webkit-min-content);
  grid-template-rows: minmax(100px, min-content);
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-column-gap: minmax(1rem, 3rem);
}

@media only screen and (max-width: 1080px) {
  .movie__images {
    grid-row-gap: 1rem;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, -webkit-min-content));
    grid-template-rows: repeat(2, minmax(100px, min-content));
  }
}

@media only screen and (max-width: 840px) {
  .movie__images {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 660px) {
  .movie__images {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, -webkit-min-content));
    grid-template-rows: repeat(3, minmax(100px, min-content));
  }
}

@media only screen and (max-width: 430px) {
  .movie__images {
    justify-items: center;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: repeat(5, minmax(100px, -webkit-min-content));
    grid-template-rows: repeat(5, minmax(100px, min-content));
  }
}

.movie__image {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 900px) {
  .movie__image {
    width: 170px;
    height: 170px;
  }
}

@media only screen and (max-width: 840px) {
  .movie__image {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 630px) {
  .movie__image {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (max-width: 430px) {
  .movie__image {
    width: 220px;
    height: 170px;
  }
}

.movie__reviews {
  height: 500px;
  overflow: auto;
  border: 2px solid #fff;
  display: grid;
  grid-template-rows: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
}

@media only screen and (max-width: 430px) {
  .movie__reviews {
    border: 0.5px solid #fff;
  }
}

.movie__review {
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1rem;
}

@media only screen and (max-width: 415px) {
  .movie__review {
    padding: 0.5rem;
  }
}

.movie__review-title {
  color: yellow;
}

@media only screen and (max-width: 630px) {
  .movie__review-title {
    font-size: 1.1em;
  }
}

.movie__review-link {
  color: #70b6f7;
}

.separator {
  height: 3px;
}

.review {
  opacity: 0.9;
  color: #c0eef0;
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, 10px);
  grid-template-rows: minmax(min-content, 10px);
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  font-family: "Chelsea Market", cursive;
  padding: 3rem;
  width: 90%;
  margin: 1rem 5rem 1rem 5rem;
  background-color: blueviolet;
}

@media only screen and (max-width: 1300px) {
  .review {
    width: 95%;
    margin: 1rem 2rem 1rem 2rem;
  }
}

@media only screen and (max-width: 1140px) {
  .review {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1080px) {
  .review {
    width: 97%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 840px) {
  .review {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 430px) {
  .review {
    padding: 0.2rem;
  }
}

.review__title {
  font-size: 1.8em;
  justify-self: center;
}

.review__review {
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1rem;
}

@media only screen and (max-width: 415px) {
  .review__review {
    padding: 0.5rem;
  }
}

.review__review-title {
  color: yellow;
}

@media only screen and (max-width: 630px) {
  .review__review-title {
    font-size: 1.1em;
  }
}

.review__review-link {
  color: #70b6f7;
}

